# Inspecting Data Types
Use the space below to explore `data_08.csv` and `data_18.csv` to answer the quiz questions below regarding datatypes.

In [1]:
import pandas as pd

In [4]:
df_08 = pd.read_csv('data_08.csv')
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no

In [5]:
df_18 = pd.read_csv('data_18.csv')
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No

In [6]:
df_08['cyl'].unique()

array(['(6 cyl)', '(4 cyl)', '(12 cyl)', '(8 cyl)', '(10 cyl)', '(16 cyl)',
       '(5 cyl)', '(2 cyl)'], dtype=object)

In [7]:
df_18['cyl'].unique()

array([  6.,   4.,   5.,  12.,  16.,   8.,   3.])

In [8]:
df_08['air_pollution_score'].unique()

array(['7', '6', '9.5', '9', '6/4'], dtype=object)

In [9]:
df_18['air_pollution_score'].unique()

array([3, 1, 7, 5, 6])

In [13]:
type(df_08['city_mpg'][0])
type(df_18['city_mpg'][0])

str

In [14]:
df_08['greenhouse_gas_score'].unique()

array(['4', '5', '6', '7', '0', '1', '3', '2', '8', '9', '10', '7/6'], dtype=object)

In [15]:
df_18['greenhouse_gas_score'].unique()

array([ 5,  4,  6,  7,  2,  1, 10,  3,  9,  8])